<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>CIVPRO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>

    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
      <ion-fab-button (click)="exportarPDF()">
          <ion-icon name="download-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    <ngx-extended-pdf-viewer
    [base64Src]="pdfSrc"
    [zoom]="'page-width'"
    [showSidebarButton]="false"
    [showFindButton]="false"
    [showPagingButtons]="false"
    [showZoomButtons]="false"
    [showPresentationModeButton]="false"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showDownloadButton]="false"
    [filenameForDownload]="false"
    [showSecondaryToolbarButton]="false"
    [showRotateButton]="false"
    [showHandToolButton]="false"
    [showScrollingButton]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false"
  ></ngx-extended-pdf-viewer>
  </ion-content>
</ion-app>