.p-field-checkbox, .p-field-radiobutton {
    margin-bottom: 0;
}

.p-confirm-popup-message {
    white-space: pre-line;
}

p-calendar > span > input {
    border-start-start-radius: 0px !important;
    border-end-start-radius: 0px !important;
}

.min-height {
    min-height: 3.9em;
}

.margin-button button {
    margin: 0.5rem;;
}

.p-dialog .p-dialog-footer button {
    float: right;
}

.p-menubar-root-list li:last-child {
    position: absolute;
    right: 5.4em;
  }