<ion-app>
    <ion-header *ngIf="isPlataformMobile()" translucent>
        <ion-toolbar>
            <ion-title>CIVPRO</ion-title>

            <ion-buttons slot="end">
                <ion-button id="options" (click)="presentOptionsActionSheet()">
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
        <input type="file" id="file" (change)="carregarFormulario($event.target.files)" accept=".json,application/json"
            style="display: none;">

        <div class="layout-wrapper">
            <div class="layout-main">
                <div class="layout-main-content">
                    <form #formFormulario="ngForm">
                        <div *ngIf="!isPlataformMobile()" class="card">
                            <p-menubar [model]="items" (click)="activeMenu($event)">
                            </p-menubar>
                        </div>

                        <div class="card">
                            <div class="flex align-content-center flex-wrap card-container grid">
                                <div class="col-fixed flex align-items-center justify-content-center"
                                    style="width:158px">
                                    <img width="150" [src]='domSanitizer.bypassSecurityTrustUrl(formulario.imagem)'>
                                </div>
                                <div class="col">
                                    <div class="field">
                                        <input type="file" id="fileLogo" (change)="uploadLogo($event.target.files)"
                                            accept="image/*" style="display: none;">
                                        <label pButton for="fileLogo" label="Carregar" icon="pi pi-upload"
                                            class="p-button-success mb-2"></label>
                                    </div>

                                    <div class="field">
                                        <span class="p-float-label">
                                            <input id="float-input" ngDefaultControl name="titulo" type="text"
                                                #titulo="ngModel" pInputText style="width:100%"
                                                [(ngModel)]="formulario.titulo" class="form-control" required>
                                            <label for="float-input"><span class="error font-bold">* </span>Titulo
                                                Formulario</label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-fluid formgrid grid">
                                <div class="field col-12 md:col-8 lg:col-8">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="formulario.empreendimento"
                                            ngDefaultControl name="empreendimento" class="form-control" pInputText>
                                        <label for="float-input">Empreendimento</label>
                                    </span>
                                </div>
                                <div class="field col-12 md:col-4 lg:col-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="formulario.unidade"
                                            ngDefaultControl name="unidade" #unidade="ngModel" class="form-control"
                                            pInputText required>
                                        <label for="float-input"><span class="error font-bold">*
                                            </span>Unidade(s)</label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="card ">
                            <p-tabView>
                                <p-tabPanel
                                    *ngFor="let cliente of formulario.dadosClientes; index as index; first as isFirst"
                                    [header]="isFirst ? 'Cliente' : formulario.dadosClientes[0].dados.estadocivil === 'Solteiro' ? 'Cliente 2' : 'Cônjuge'"
                                    [selected]="isFirst" leftIcon="pi pi-user">

                                    <p-accordion>
                                        <p-accordionTab header="Dados" [selected]="true">

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dados.nome" #nome="ngModel"
                                                            ngDefaultControl name="dados.nome{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Nome</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col-12 md:col-8 lg:col-8">
                                                    <div class="p-inputgroup">
                                                        <span class="p-inputgroup-addon">
                                                            <i class="pi pi-envelope"></i>
                                                        </span>
                                                        <span class="p-float-label">
                                                            <input type="email" id="inputgroup"
                                                                [(ngModel)]="cliente.dados.email" ngDefaultControl
                                                                name="dados.email{{index}}" class="form-control"
                                                                pInputText email="true" />
                                                            <label for="inputgroup">Email</label>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="field col-12 md:col-4 lg:col-4">
                                                    <span class="p-float-label">
                                                        <input id="float-input" [(ngModel)]="cliente.dados.telefone"
                                                            #telefone="ngModel" ngDefaultControl
                                                            name="dados.telefone{{index}}" class="form-control"
                                                            pInputText [dropSpecialCharacters]="false"
                                                            mask="(00) 0000-0000||(00) 0 0000-0000" required />
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Telefone</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dados.endereco" #endereco="ngModel"
                                                            ngDefaultControl name="dados.endereco{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Endereço</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <input id="float-input" ngDefaultControl
                                                            name="dados.cep{{index}}" [(ngModel)]="cliente.dados.cep"
                                                            #cep="ngModel" class="form-control" pInputText
                                                            [dropSpecialCharacters]="false" mask="00000-000"
                                                            required />
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>CEP</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dados.bairro" #bairro="ngModel"
                                                            ngDefaultControl name="dados.bairro{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Bairro</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dados.cidade" #cidade="ngModel"
                                                            ngDefaultControl name="dados.cidade{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Cidade</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <p-dropdown [options]="estados" ngDefaultControl
                                                            [(ngModel)]="cliente.dados.estado" [showClear]="true"
                                                            [filter]="true" #estado="ngModel" placeholder="Estado"
                                                            name="dados.estado{{index}}" inputId="float-label"
                                                            required></p-dropdown>
                                                        <label for="float-label"><span class="error font-bold">*
                                                            </span>Estado</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col-12 md:col-4 lg:col-4">
                                                    <span class="p-float-label">
                                                        <input id="float-input" ngDefaultControl
                                                            name="dados.cpf{{index}}" [(ngModel)]="cliente.dados.cpf"
                                                            #cpf="ngModel" class="form-control" pInputText
                                                            [dropSpecialCharacters]="false" mask="000.000.000-00"
                                                            (blur)="validarCpf($event)" required />
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>CPF</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-4 lg:col-4">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dados.rg" #rg="ngModel"
                                                            ngDefaultControl name="dados.rg{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>RG</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-4 lg:col-4">
                                                    <div class="p-inputgroup">
                                                        <span class="p-inputgroup-addon">
                                                            <i class="pi pi-calendar"></i>
                                                        </span>
                                                        <span class="p-float-label">
                                                            <p-calendar id="inputgroup"
                                                                [(ngModel)]="cliente.dados.dataNascimento"
                                                                ngDefaultControl name="dados.dataNascimento{{index}}"
                                                                class="form-control" dateFormat="dd/mm/yy"
                                                                styleClass="calendar" showButtonBar="true">
                                                            </p-calendar>
                                                            <label for="inputgroup">Nascimento</label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text" pInputText
                                                            [(ngModel)]="cliente.dados.formacao" #formacao="ngModel"
                                                            ngDefaultControl name="dados.formacao{{index}}"
                                                            class="form-control" required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Formação</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div *ngIf="isFirst"
                                                class="p-fluid formgrid grid align-items-center vertical-container min-height">
                                                <div class="field col-12 md:col-4 lg:col-4">
                                                    <p-selectButton [options]="estadoCivilOpcoes" ngDefaultControl
                                                        name="dados.estadocivil{{index}}" (onChange)="gerarCliente2()"
                                                        [(ngModel)]="cliente.dados.estadocivil" optionLabel="label"
                                                        optionValue="value"></p-selectButton>
                                                </div>

                                                <div *ngIf="cliente.dados.estadocivil==='Outros'"
                                                    class="field col-12 md:col-4 lg:col-4">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            #estadocivilespecifico="ngModel"
                                                            [(ngModel)]="cliente.dados.estadocivilespecifico"
                                                            ngDefaultControl name="dados.estadocivilespecifico{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Especifique</label>
                                                    </span>
                                                </div>

                                                <div *ngIf="isFirst && cliente.dados.estadocivil==='Casado' || cliente.dados.estadocivil==='Outros'"
                                                    class="field col-12 md:col-4 lg:col-4">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dados.regimeComunhao"
                                                            #regimeComunhao="ngModel" ngDefaultControl
                                                            name="dados.regimeComunhao{{index}}" class="form-control"
                                                            pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Regime de comunhão</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </p-accordionTab>
                                        <p-accordionTab header="Dados Empresa">
                                            <div class="p-fluid formgrid grid">
                                                <div class="field col">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dadosEmpresa.razaoSocial"
                                                            ngDefaultControl name="dadosEmpresa.razaoSocial{{index}}"
                                                            class="form-control" pInputText>
                                                        <label for="float-input">Razão social</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dadosEmpresa.endereco" ngDefaultControl
                                                            name="dadosEmpresa.endereco{{index}}" class="form-control"
                                                            pInputText>
                                                        <label for="float-input">Endereço</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <input id="float-input" ngDefaultControl
                                                            name="dadosEmpresa.cep{{index}}"
                                                            [(ngModel)]="cliente.dadosEmpresa.cep" class="form-control"
                                                            pInputText [dropSpecialCharacters]="false"
                                                            mask="00000-000" />
                                                        <label for="float-input">CEP</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dadosEmpresa.bairro" ngDefaultControl
                                                            name="dadosEmpresa.bairro{{index}}" class="form-control"
                                                            pInputText>
                                                        <label for="float-input">Bairro</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dadosEmpresa.cidade"
                                                            ngDefaultControl name="dadosEmpresa.cidade{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input">Cidade</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <p-dropdown [options]="estados" ngDefaultControl
                                                            [(ngModel)]="cliente.dadosEmpresa.estado" [showClear]="true"
                                                            [filter]="true" placeholder="Estado"
                                                            name="dadosEmpresa.estado{{index}}"
                                                            inputId="float-label"></p-dropdown>
                                                        <label for="float-label">Estado</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col-12 md:col-9 lg:col-9">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.dadosEmpresa.funcao" ngDefaultControl
                                                            name="dadosEmpresa.funcao{{index}}" class="form-control"
                                                            pInputText>
                                                        <label for="float-input">Função</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <span class="p-float-label">
                                                        <p-inputNumber id="float-input" [min]="0" prefix="R$ "
                                                            mode="decimal" locale="pt-BR" [minFractionDigits]="2"
                                                            [(ngModel)]="cliente.dadosEmpresa.salario" ngDefaultControl
                                                            name="dadosEmpresa.salario{{index}}" class="form-control">
                                                        </p-inputNumber>
                                                        <label for="float-input">Salário</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col-12 md:col-8 lg:col-8">
                                                    <div class="p-inputgroup">
                                                        <span class="p-inputgroup-addon">
                                                            <i class="pi pi-envelope"></i>
                                                        </span>
                                                        <span class="p-float-label">
                                                            <input type="text" id="inputgroup"
                                                                [(ngModel)]="cliente.dadosEmpresa.email" email="true"
                                                                ngDefaultControl name="dadosEmpresa.email{{index}}"
                                                                class="form-control" pInputText />
                                                            <label for="inputgroup">Email</label>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="field col-12 md:col-4 lg:col-4">
                                                    <span class="p-float-label">
                                                        <input id="float-input"
                                                            [(ngModel)]="cliente.dadosEmpresa.telefone" ngDefaultControl
                                                            name="dadosEmpresa.telefone{{index}}" class="form-control"
                                                            pInputText [dropSpecialCharacters]="false"
                                                            mask="(00) 0000-0000||(00) 0 0000-0000" />
                                                        <label for="float-input">Telefone</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </p-accordionTab>
                                        <p-accordionTab *ngIf="isFirst" header="Referências Pessoais">
                                            <div class="p-fluid formgrid grid">
                                                <div class="field col-12 md:col-7 lg:col-7">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.referenciaPessoal[0].nome"
                                                            #nome="ngModel" ngDefaultControl
                                                            name="referenciaPessoal[0].nome{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Nome</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-5 lg:col-5">
                                                    <span class="p-float-label">
                                                        <input id="float-input"
                                                            [(ngModel)]="cliente.referenciaPessoal[0].telefone"
                                                            #telefone="ngModel" ngDefaultControl
                                                            name="referenciaPessoal[0].telefone{{index}}"
                                                            class="form-control" pInputText
                                                            [dropSpecialCharacters]="false"
                                                            mask="(00) 0000-0000||(00) 0 0000-0000" required />
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Telefone</label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="p-fluid formgrid grid">
                                                <div class="field col-12 md:col-7 lg:col-7">
                                                    <span class="p-float-label">
                                                        <input id="float-input" type="text"
                                                            [(ngModel)]="cliente.referenciaPessoal[1].nome"
                                                            #nome="ngModel" ngDefaultControl
                                                            name="referenciaPessoal[1].nome{{index}}"
                                                            class="form-control" pInputText required>
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Nome</label>
                                                    </span>
                                                </div>

                                                <div class="field col-12 md:col-5 lg:col-5">
                                                    <span class="p-float-label">
                                                        <input id="float-input"
                                                            [(ngModel)]="cliente.referenciaPessoal[1].telefone"
                                                            #telefone="ngModel" ngDefaultControl
                                                            name="referenciaPessoal[1].telefone{{index}}"
                                                            class="form-control" pInputText
                                                            [dropSpecialCharacters]="false"
                                                            mask="(00) 0000-0000||(00) 0 0000-0000" required />
                                                        <label for="float-input"><span class="error font-bold">*
                                                            </span>Telefone</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </p-accordionTab>
                                    </p-accordion>
                                </p-tabPanel>
                            </p-tabView>
                        </div>

                        <div class="card">
                            <h5>Especificação da Proposta</h5>
                            <div class="p-fluid formgrid grid">
                                <div class="field col-12 md:col-3 lg:col-2">
                                    <span class="p-float-label">
                                        <p-inputNumber id="float-input" [(ngModel)]="formulario.valorImovel"
                                            ngDefaultControl name="valorImovel" #valorImovel="ngModel"
                                            class="form-control" [min]="0" prefix="R$ " mode="decimal" locale="pt-BR"
                                            [minFractionDigits]="2" required>
                                        </p-inputNumber>
                                        <label for="float-input"><span class="error font-bold">* </span>Valor do
                                            imóvel</label>
                                    </span>
                                </div>
                            </div>

                            <div class="p-fluid formgrid grid">
                                <div class="field col-12">
                                    <span class="p-float-label">
                                        <textarea inputId="textarea" [(ngModel)]="formulario.formaPagamento"
                                            ngDefaultControl name="formaPagamento" #formaPagamento="ngModel"
                                            class="form-control" rows="8" cols="90" pInputTextarea required></textarea>
                                        <label for="textarea"><span class="error font-bold">* </span>Forma de
                                            pagamento</label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <h5>Opções</h5>
                            <div class="col">
                                <div class="p-field-checkbox">
                                    <p-checkbox label="Cliente 2 / Conjuge" [binary]="true"
                                        [(ngModel)]="formulario.opcoes.clienteConjuge" ngDefaultControl
                                        name="clienteConjuge" #clienteConjuge="ngModel"></p-checkbox>
                                    <p-checkbox label="Corretor" [binary]="true"
                                        [(ngModel)]="formulario.opcoes.corretor" ngDefaultControl name="corretor"
                                        #corretor="ngModel"></p-checkbox>
                                    <p-checkbox label="Gerente" [binary]="true" [(ngModel)]="formulario.opcoes.gerente"
                                        ngDefaultControl name="gerente" #gerente="ngModel"></p-checkbox>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p-toast></p-toast>
            <p-confirmDialog [style]="{'white-space': 'pre-wrap'}" [baseZIndex]="10000"></p-confirmDialog>
            <app-template #pdfTemplate [formulario]="formulario"></app-template>
        </div>
    </ion-content>
</ion-app>